h1 {
    font-size: 3rem;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

body {
    color: white;
    background-color: black;
}

.image1 {
    border: solid #ffffff;
    border-width: 5px;
    margin: 1rem;
    width: 100%;
}

.motivational_poster {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
